#headArea{
    display: flex;
    flex-direction: column;
}

#headArea > div{
    display: flex;
}

#searchFilterContainer{
    display: flex;
    justify-content: space-around;
}

.filter_search{
    flex-basis: 200px;
    height: 30px;
}

/* .filter-search > form{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
} */
.searchDiv{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

}
.searchDiv > input{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    border: 1px solid #bbc0c4;
    border-radius: 4px;
}

.searchDiv> input:focus{
    border-color: #66bfff;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.searchDiv > span{
    position: absolute;
    color: #bbc0c4;
    left: 10px;
}

#filterTags{
    padding: 0;
    border-radius: 3px;
    border: 1px solid #eee;
    background:#fafafa;
}

.searchAndFilters{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px dotted #bfd7e9;
}

#filterByPlaceContainer{
    flex-basis: 200px;
    align-self: center;
}

.filter_item{
    margin: 5px;
}

.filterTagDiv{
    padding :4px 7px;
    max-width:400px;
    margin:auto;
}