.user{
    display: flex;
    border:1px solid #bbc0c4;
    margin: 5px 5px;
    padding: 5px;
    background: #E1ECF4;
}

.user:hover{
    background: #f8f8fa;
    cursor: pointer;
}

.user > .user-img > img{
    width: 45px;
    height: 45px;
}

.user > .user-info{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.user > .user-info > .user-info-name{
    color: black;
    text-decoration: none;
}

.user > .user-info > .user-info-place {
    font-size: 12px;
}

.user > .user-info > .user-info-rating{
    font-size: 12px;
    color: #3b4045;
}

.user > .user-info > .user-info-tags{
    color: #929597;
    font-size: 13px;
}