#headArea > div{
    display: flex;
}
#tagFilterContainer{
    display: flex;
    flex-wrap: wrap;
}

#filter_search{
    width: 200px;
}

#filter_search > .searchFilterDiv{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

#filter_search > .searchFilterDiv > input{
    padding: 10px 0 10px 30px;
    border: 1px solid #bbc0c4;
    border-radius: 4px;
}

#filter_search > .searchFilterDiv > input:focus{
    border-color: #66bfff;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

#filter_search > .searchFilterDiv > span{
    position: absolute;
    color: #bbc0c4;
    left: 10px;
}
.newTagBtn{
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    padding: 0 5px;
    background:#E1ECF4;
}

.newTagBtn:hover{
    cursor: pointer;
}