
/* 
    silimar div border color:1px solid #bbc0c4;
    border color with left_bar: 1px solid #d6d9dc;
    halka gray border: #e4e6e8;
    
    similarity div topbar background:#fafafb;
    background of tag:#E1ECF4;
    halka gray for font color:#929597;
    halka gra backgroun:#FAFAFB;
    border-right of home button:#F48024;
*/


body {
    margin: 0px;
    font-family: Kiron, SolaimanLipi,Arial,Vrinda,FallbackBengaliFont,Helvetica,sans-serif;
}

.pos-relative{
    position: relative;;
}