#left{
    width: 164px;
    padding-top: 24px;
    flex-shrink: 0;
    z-index: 1000;
    position: relative;
    box-shadow: 0 0 0 rgba(12,13,14,0.05);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
}

#left > div{
    position: sticky;
    width: auto;
    top: 24px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

#left > div > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 6px 8px 8px;
}

#left > div > a:nth-child(1){
    background: rgba(12,13,14,0.05);
    font-weight: bold;
    border-right: 4px solid #F48024;
    padding: 8px 6px 8px 8px;
}

#homeBtn{
    font-weight: bold;
    background: rgba(12,13,14,0.05);
    color: #0C0D0E;
    border-right: 3px solid #F48024;
}

@media (max-width:640px){
    #left > div{
        position: absolute;
        display: none;
        top: 5px;
        left: 5px;
        z-index: 1000;
    }

    #left{
        display: none;
    }
}