.pagination{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.pagination> .pagination-btn:first-child{
    margin-left: auto;
}

.pagination > .pagination-btn{
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    padding: 4px 9px;
    margin: 0 5px;
    font-size: 13px;
}

.pagination > .pagination-btn:hover{
    background: brown;
    cursor: pointer;
}