.badges-container{
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.badge-head{
    border-bottom: 1px solid #d6d9dc;
}

.plutinum-badge{
    display: flex;
    flex-direction: column;
    background: paleturquoise;
    padding:20px 80px;
}

.badge-count{
    text-align: center;

}

.gold-badge{
    background: gold;
    padding: 20px 80px;
}

.silver-badge{
    background: silver;
    padding:20px 80px;
}