.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    position: absolute;
    top: 30%;
    left: 40%;
}

.spinner > img{
    height: 100%;
}