.user_comment {
    border-bottom: 1px solid #bbc0c4;
    padding: 10px 0 10px 30px;
    display: flex;
}

.user_comment>.user_comment_vote {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.vote_icon:hover {
    color: rgb(121, 71, 238);
    cursor: pointer;
}

.user_comment_edit {
    margin-left: auto;
    color: #848d95;
}

.user_comment_edit:hover {
    cursor: pointer;
    color: #3b4045;
}

.user_comment_delete {
    margin-left: 8px;
    color: #848d95;
}

.user_comment_delete:hover {
    cursor: pointer;
    color: #3b4045;
}

.commentDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.commentOptions{
    margin-top: 5px;
}
.comment_reaction{
    padding: 0 5px;
}

.commentFooter{
    display: flex;
    flex-wrap: wrap;
}