.commentBox {
    display: flex;
    flex-direction: column;
}

.commentBox > input{
    border:1px solid gray;
}

.commentActions{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.commentActionItem{
    color: #848d95;
}

.commentActionItem:hover{
    color: #3b4045;
    cursor: pointer;
}

.cancellComment{
    margin-left: 20px;
}