.user-comment {
    border-bottom: 1px solid #bbc0c4;
    padding: 10px 0 10px 30px;
    display: flex;
}

.user-comment>.user-comment-vote {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.vote-icon:hover {
    color: rgb(121, 71, 238);
    cursor: pointer;
}

.make-comment {
    padding: 10px;
    color: #1a0be4;
}

.make-comment:hover {
    cursor: pointer;
}


.user-comment-edit {
    margin-left: auto;
    color: #848d95;
}

.user-comment-edit:hover {
    cursor: pointer;
    color: #3b4045;
}

.user-comment-delete {
    margin-left: 8px;
    color: #848d95;
}

.user-comment-delete:hover {
    cursor: pointer;
    color: #3b4045;
}