.question_description_text{
    text-align: justify;
}

.questionImage{
    width: 100%;height:auto;
    margin: 10px 5px;
}

#postDiv{
    display: flex;
}

#question_description{
    border: 1px soid #07c;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
}

.edit_delete_options {
    display: flex;
    margin-top: 20px;
}

.edit_delete_options > span{
    cursor: pointer;
    color: #848d95;
    
}

.edit_delete_options > .edit_option{
    margin-right: 20px;
    
}

.edit_delete_options> span:hover{
    cursor: pointer;
    color: #3b4045;
}

.enableabledIcon:hover{
    cursor: pointer;
}

#tags{
    margin-top: 30px;
}

#tags > span{
    border-radius: 3px;
    text-decoration: none;
    background: #E1ECF4;
    padding: 4.8px 6px;
    margin:2px 2px 2px 0px;
    font-size: 14px;
}
