.answer_editor{
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d9dc;
}

.answer_editor_topbar{
    display: flex;
    border-bottom: 1px solid #d6d9dc;
    background: #fafafb;
    padding: 10px 10px; 
    position: relative;
}

.answer_editor_topbar_bold{
    font-weight: bold;
    padding: 0px 10px 0px 15px;
}

.answer_editor_topbar_italic{
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_hyperlink{
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_blockquote{
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_image{
    font-weight: bold;
    padding-right: 10px;
}
.answer_editor_topbar > span{
    margin-right: 20px;
    cursor: pointer;
}