.container{
    height: 200px;
    background: green;
    text-align: center;
}

.heading{
    text-align: center;
    color:rgb(216, 213, 213);
}

.sendMailBtn{
    background: rgb(226, 226, 120) !important;
    width: 200px;
}