.comments{
    display: flex;
    flex-direction: column;
    border-top:1px solid #bbc0c4;
    font-size: 12px;
    flex-basis: 100%;
}

.comments > .user-comment{
    border-bottom:1px solid #bbc0c4;
    padding: 10px 0 10px 30px;
    display: flex;
}

.comments > .user-comment > .user-comment-vote{
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.comments .vote-icon:hover{
    color:rgb(121, 71, 238);
    cursor: pointer;
}

.comments > .make-comment{
    padding: 10px;
    color: #1a0be4;
}

.comments > .make-comment:hover{
    cursor: pointer;
}