#parentDiv{
    position: relative;
    display: flex;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    width: calc(100% - 164px);
    flex-shrink: 0;
    padding: 24px;
    box-sizing: border-box;
    border-left: 1px solid rgb(211, 208, 205);
}


#head_bar{
    display: flex;
    flex-grow: 1;
    margin-bottom: 25px;
    border-bottom: 1px solid #e4e6e8;
}

#title{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#title_info{
    margin-bottom: 10px;
}

#middle_Div{
    display: flex;
}

#questionDiv{
    display: flex;
}

.vote_system{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.vote_system > .vote_icon:hover{
    cursor: pointer;
}

#question_description{
    border: 1px soid #07c;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
}

#ask_btn{
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 0 rgba(102,191,255,0.75), 0 0 0 0 rgba(0,149,255,0);
    color: #FFF;
    padding: 10.4px 20px;
    cursor: pointer;
    border-radius: 2px;
    flex-shrink: 0;
    height: 20px;
    align-self: center;
}


#user_of_question {
    display: flex;
    flex-direction: column;
    background: #E1ECF4;
    margin-left: auto;
    border-radius: 4px;
    padding: 2px 5px;
}

#user_of_question > div {
    display: flex;
    
}

#user_of_question > div > div{
    display: flex;
    flex-direction: column;
}

#user_of_question > span{
    padding: 5px 0;
}

#rating_of_user_of_question{
    font-size: 12px;
}

#user_of_question img{
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

#discussion_flow{
    display: flex;
    flex-direction: column;
}

#answer_div{
    display: flex;
    flex-direction: column;
}

.user_answer{
    display: flex;
}

.answer_exact{
    display: flex;
    flex-direction: column;
}

.answer_editor{
    display: flex;
    flex-direction: column;
    border: 1px solid #d6d9dc;
}

.answer_editor_topbar{
    display: flex;
    border-bottom: 1px solid #d6d9dc;
    background: #fafafb;
    padding: 10px 10px;
}


.answer_editor_topbar_bold{
    font-weight: bold;
    padding: 0px 10px 0px 5px;
}

.answer_editor_topbar_italic{
    font-style: italic;
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_hyperlink{
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_blockquote{
    font-weight: bold;
    padding-right: 10px;
}

.answer_editor_topbar_image{
    font-weight: bold;
    padding-right: 10px;
}