.mainContainer{
    display: flex;
}

.right{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #bbc0c4;
    padding: 15px 10px;
    flex-grow: 1;
}

.head-bar{
    display: flex;
    width: 100%;
}

.head-bar::after{
    content: "";
    border-bottom: 1px solid #bbc0c4;
    flex-grow: 1;
}

.head-bar > span{
    padding:8px 7px;
    border-bottom: 1px solid #bbc0c4;
}

.head-bar > span:hover{
    cursor: pointer;
    background: #E1ECF4;
}

.head-bar > .user-activity{
    border-left: 1px solid #bbc0c4;
    border-right: 1px solid #bbc0c4;
    border-top: 2px solid #F48024;
    border-bottom: none;
}

.top-bar-info{
    display: flex;
}

.menu-bar{
    display: flex;
    width: 100%;
}

.menu-bar::after{
    content: "";
    border-bottom: 1px solid #bbc0c4;
    flex-grow: 1;
}

.menu-bar > .menu-item{
    padding:8px 7px;
    border-bottom: 1px solid #bbc0c4;
}

.menu-bar > .menu-item:hover{
    cursor: pointer;
    background: #E1ECF4;
}

.menu-bar > .active-item{
    border-left: 1px solid #bbc0c4;
    border-right: 1px solid #bbc0c4;
    border-top: 2px solid #F48024;
    border-bottom: none;
}
.see-more{
    color: #0077CC;
    margin-top: 20px;
}

.see-more:hover{
    color: rgb(87, 158, 209);
    cursor: pointer;
}