#parentDiv{
    text-align: left;
    position: relative;
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex: 1 0 auto;
}

#right{
    width: calc(100% - 164px);
    background-color: #FFF;
    border-radius: 0;
    border-left: 1px solid #d6d9dc;
    border-top-width: 0;
    padding-top: 24px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

#headArea{
    display: flex;
    flex-direction: column;
}

#headArea > div{
    display: flex;
}

#tagArea{
    display: flex;
    flex-direction: column;
}
#searchFilterContainer{
    display: flex;
}

.filter-search{
    width: 200px;
}

.filter-search > form{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.filter-search > form > input{
    padding: 10px 0 10px 30px;
    border: 1px solid #bbc0c4;
    border-radius: 4px;
}

.filter-search > form > input:focus{
    border-color: #66bfff;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.filter-search > form > span{
    position: absolute;
    color: #bbc0c4;
    left: 10px;
}

#tagsContainer{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tagItem{
    display: flex;
    flex-direction: column;
    border:1px solid #66bfff;
    margin: 5px;
}
.tag{
    padding: 10px 10px;
    margin-right: auto;
    background: #E1ECF4;
    margin-bottom: 4px;
}

.tagPagination{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.tagPagination> .tagGroup:first-child{
    margin-left: auto;
}

.tagGroup{
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    padding: 4px 9px;
    margin: 0 5px;
    font-size: 13px;
}

.tagGroup:hover{
    background: brown;
    cursor: pointer;
}

#filterUser{
    width: 120px;
}

#filterUser >form > .placeFilter{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.filterContainer{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.filterContainer > .filterText{
    align-self: center;
    margin-right: 10px;
}

#filterTags{
    padding: 0;
    margin-left:10px; 
    border-radius: 3px;
}

