.comments{
    display: flex;
    flex-direction: column;
    border-top:1px solid #bbc0c4;
    font-size: 12px;
    flex-basis: 100%;
}
.make_comment {
    padding: 10px;
    color: #1a0be4;
}

.make_comment:hover {
    cursor: pointer;
}