#parentDiv{
    text-align: left;
    position: relative;
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex: 1 0 auto;
}

#right{
    background-color: #FFF;
    border-radius: 0;
    border-left: 1px solid #d6d9dc;
    border-top-width: 0;
    padding-top: 24px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

#headArea{
    display: flex;
    flex-direction: column;
}

#headArea > div{
    display: flex;
}

/* #tagArea{
    display: flex;
    flex-direction: column;
} */
#searchFilterContainer{
    display: flex;
    justify-content: space-around;
}

.filter-search{
    flex-basis: 200px;
    height: 30px;
}

.filter-search > form{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.filter-search > form > input{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    border: 1px solid #bbc0c4;
    border-radius: 4px;
}

.filter-search > form > input:focus{
    border-color: #66bfff;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.filter-search > form > span{
    position: absolute;
    color: #bbc0c4;
    left: 10px;
}

#filterUser{
    width: 120px;
}

#filterUser >form > .placeFilter{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.filterText{
    align-self: center;
    margin-right: 10px;
    margin-left: auto;
}

#filterTags{
    padding: 0;
    border-radius: 3px;
}

.searchAndFilters{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px dotted #bfd7e9;
}

#filterByPlaceContainer{
    flex-basis: 200px;
    align-self: center;
}

#userInfoContainer{
    display: flex;
    flex-wrap: wrap;
}

.filter-item{
    margin: 5px;
}

.user{
    display: flex;
    border:1px solid #bbc0c4;
    margin: 5px 5px;
}

.user:hover{
    background: #f8f8fa;
    cursor: pointer;
}

.user > .user-img > img{
    width: 45px;
    height: 45px;
}

.user > .user-info{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.user > .user-info > .user-info-name{
    color: #836ab6;

}

.user > .user-info > .user-info-place {
    font-size: 12px;
}

.user > .user-info > .user-info-rating{
    font-size: 12px;
    font-weight: bold;
}

.user > .user-info > .user-info-tags{
    color: #929597;
    font-size: 13px;
}

.pagination{
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.pagination> .pagination-btn:first-child{
    margin-left: auto;
}

.pagination > .pagination-btn{
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    padding: 4px 9px;
    margin: 0 5px;
    font-size: 13px;
}

.pagination > .pagination-btn:hover{
    background: brown;
    cursor: pointer;
}