#parentDiv{
    text-align: left;
    position: relative;
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex: 1 0 auto;
}

#users-right{
    background-color: #FFF;
    border-radius: 0;
    border-left: 1px solid #d6d9dc;
    border-top-width: 0;
    padding-top: 24px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}
